<div class="card">
    <img src="{{this.img}}" class="card-img-top p-2 img-fluid" alt="Card Image">
    <div class="card-body text-start">
        <h4>{{this.title}}</h4>
        <p>{{this.description}}</p>
    </div>
</div>