<footer class="bd-footer py-4 py-md-5 mt-5" style="background-color: #8b1d2e; color: black;">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <!-- Social Media Icons -->
        <a class="navbar-brand" href="#">
          <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <img src="https://cdn.cms-twdigitalassets.com/content/dam/about-twitter/x/brand-toolkit/logo-black.png.twimg.768.png" width="23.98" height="24"/>
          </li>
          <li class="nav-item mb-2">
            <img src="/images/Instagram_Glyph_Black.png" width="23.98" height="24"/>
          </li>
          <li class="nav-item mb-2">
            <img src="/images/youtube_social_icon_dark.png" width="23.98" height="24"/>
          </li>
          <li class="nav-item mb-2">
            <img src="/images/InBug-Black.png" width="23.98" height="24"/>
          </li>
        </ul>
        <a href="https://www.themoviedb.org/">
            <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg"/>
        </a>
      </div>
      <div class="col-lg-3 mb-3">
        <h5>Use cases</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">UI design</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">UX design</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Wireframing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Diagramming</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Brainstorming</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Online whiteboard</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Team collaboration</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 mb-3">
        <h5>Explore</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Design</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Prototyping</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Development features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Design systems</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Collaboration features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Design process</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">FigJam</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 mb-3">
        <h5>Resources</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Blog</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Best practices</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Colours</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Colour wheel</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Support</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Developers</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-body-secondary">Resource library</a>
          </li>
          <li class="nav-item mb-2">
            <a href="http://localhost:3000/faq" class="nav-link p-0 text-body-secondary">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
