<button class="btn btn-sm favorite-btn" 
  data-content-type="Community" 
  data-room-id="{{this.RoomID}}">
    <i class="bi {{#if this.isFavorite}}bi-heart-fill{{else}}bi-heart{{/if}}"></i>
</button>