<nav class="navbar sticky-top" style="background-color: hwb(351 11% 35% / 0.80); color: black;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" style="color: black;">Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;">Fandoms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact" style="color: black;">Contact</a>
        </li>
  
        <button class="btn btn-outline-light me-2" type="button">Sign in</button>
        <button class="btn btn-sm btn-outline-light" type="button">Register</button>
    </ul>
  </div>
</nav>
