<nav class="navbar sticky-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fandoms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>    
            <button class="btn btn-outline-success me-2" type="button">Sign in</button>
            <button class="btn btn-sm btn-outline-secondary" type="button">Register</button>
    </ul>
  </div>
</nav>