<nav class="navbar sticky-top" style="background-color: hwb(351 11% 35% / 0.80); color: black;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <ul class="nav justify-content-end">
       <li class="nav-item">
          <a class="nav-link {{#if (eq title 'Games')}}active fw-bold text-dark{{/if}}" href="/category/games" style="color: black;">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq title 'Movies')}}active fw-bold text-dark{{/if}}" href="/category/movies" style="color: black;">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if (eq title 'Books')}}active fw-bold text-dark{{/if}}" href="/category/books" style="color: black;">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;">Fandoms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact" style="color: black;">Contact</a>
        </li>
  

        <li class="nav-item">
          <a href="/login" class="btn btn-outline-success me-2 btn-sm">Log in</a>
        </li>
        <li class="nav-item">
          <a href="/register" class="btn btn-outline-secondary btn-sm">Register</a>
        </li>

    </ul>
  </div>
</nav>

