<div class="d-flex flex-column mb-3">
    <div class="d-flex align-items-start">
            <img src="" alt="fromid"/>
            <h5 class="mb-1">{{this.fromId}}</h5>
    </div>
    <div class="p-2">
        <p>{{this.content}}</p>
    </div>
</div>
