<div class="p-2">
    <div class="d-flex align-items-start">
            <img src="" alt="{{this.FromUser}}"/>
            <strong>{{this.FromUser}}</strong>
    </div>
    <div class="p-2">
        <p>{{this.Content}}</p>
        <small class="text-muted">{{this.Time}}</small>
    </div>
</div>