<div class="p-2">
    <div class="d-flex align-items-start">
            <img src="" alt="{{this.fromId}}"/>
            <strong>{{this.fromId}}</strong>
    </div>
    <div class="p-2">
        <p>{{this.content}}</p>
        <small class="text-muted">{{formatTime this.time}}</small>
    </div>
</div>