
    <div class="card-slider">
        <button class="arrow arrow-left"> < </button>
        <button class="arrow arrow-right"> > </button>
        <div class="card-container">
            {{>card}}
            {{>card}}
            {{>card}}
            {{>card}}
        </div>
    </div>