
    <div class="card-slider">
        <button onclick="scrollLeft()" class="arrow arrow-left"> < </button>
        <button onclick="scrollRight()" class="arrow arrow-right"> > </button>
        <div class="card-container overflow-hidden">
            {{>card}}
            {{>card}}
            {{>card}}
            {{>card}}
        </div>
    </div>