
    <div class="card-slider">
        <button onclick="scrollSliderLeft(this)" class="arrow arrow-left"> < </button>
        <button onclick="scrollSliderRight(this)" class="arrow arrow-right"> > </button>
        <div class="card-container overflow-hidden">
         {{#each content}}
                {{#if ../includeType}}
                     {{> card type=this.type from="home" }}
         {{else}}
                {{> card type=../type }}
                     {{/if}}
        {{/each}}


        </div>
    </div>