<div class="container mb-4">
  <div class="row text-start ps-2">
    <h4 class="text-danger">{{title}}</h4>
  </div>
  <div class="row flex-nowrap overflow-auto g-3 px-2">
    {{#each content}}
      <div class="col-8 col-sm-4 col-md-3 col-lg-2">
        {{> card_alt this }}
      </div>
    {{/each}}
  </div>
</div>
