<div class="container mt-5 text-center">
  <h1 class="text-danger mb-5">Choose Your Community</h1>

  <div class="row justify-content-center mb-5">
    <div class="col-md-6">
      <form class="d-flex" role="search">
        <div class="input-group input-group-lg">
          <span class="input-group-text" style="background-color: #8b1d2e; border-color: #8b1d2e;">
            <i class="bi bi-search" style="color: white;"></i>
          </span>
          <input 
            class="form-control border-2" 
            type="search" 
            placeholder="Search for a community..." 
            aria-label="Search"
            style="border-color: #8b1d2e; background-color: #f4d1d1; color: #8b1d2e;"
          >
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row g-4">
    {{#each (range 1 15)}}
        {{>communitypartial}}
    {{/each}}
  </div>
</div>


