<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-games-tab" data-bs-toggle="tab" data-bs-target="#nav-games" type="button" role="tab" aria-controls="nav-games" aria-selected="true">Games</button>
    <button class="nav-link" id="nav-movies-tab" data-bs-toggle="tab" data-bs-target="#nav-movies" type="button" role="tab" aria-controls="nav-movies" aria-selected="false">Movies</button>
    <button class="nav-link" id="nav-books-tab" data-bs-toggle="tab" data-bs-target="#nav-books" type="button" role="tab" aria-controls="nav-books" aria-selected="false">Books</button>
    <button class="nav-link" id="nav-fandoms-tab" data-bs-toggle="tab" data-bs-target="#nav-fandoms" type="button" role="tab" aria-controls="nav-fandoms" aria-selected="false" fandoms>Fandoms</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-Games" role="tabpanel" aria-labelledby="nav-Games-tab" tabindex="0">

  </div>
  <div class="tab-pane fade" id="nav-movies" role="tabpanel" aria-labelledby="nav-movies-tab" tabindex="0">

  </div>
  <div class="tab-pane fade" id="nav-books" role="tabpanel" aria-labelledby="nav-books-tab" tabindex="0">

  </div>
  <div class="tab-pane fade" id="nav-fandoms" role="tabpanel" aria-labelledby="nav-fandoms-tab" tabindex="0">

  </div>
</div>