<header>
    <section class="hero">
        <div class="banner">
            <div class="container text-center">
                    <div class="row p-2">
                        <h2>{{hero.cta}}</h2>
                    </div>
                <div class="row pb-5">
                    <p>{{hero.shortDescription}}</p>
                </div>
                <div class="row p-2 pt-4">
                    <p>Hier komt de zoekbalk</p>
                </div>
            </div>
        </div>
    </section>
</header>

<section class="most-viewed">
    <div class="container overflow-hidden text-center my-5">
        <div class="row text-start ps-0 p-4 ">
            <h3>Most Viewed</h3>
        </div>
        <div class="row justify-content-center">
            {{>card}}
            {{>card}}
            {{>card}}
            {{>card}}
        </div>

    </div>
</section>