.row{
    border: 1px solid red;

}
div{
    border: 1px solid black;
}

/* body {
    background-color: #231F20;
} */

.banner {
    background-image: url(/images/placeholder3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;


    padding: 150px 0px;

    position: relative;
}

.banner h2 {
    font-size: 64px;
}

.banner p {
    font-size: 28px;
    font-weight: 400;
}

.container{
 height: 350px;
}