.container{
 min-height: 350px;
}

body {
    background-color: #231F20;
}

/* .row{
    border: 1px solid red;

}
div{
    border: 1px solid black;
    min-height: 30px;
} */


h3 {
    color: #8b1d2e;
    font-size: 36px;
}

h4 {
    font-size: 24px;
}


.banner {
    background-image: url(/images/placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;


    padding: 200px 0px;

    position: relative;
}

.banner h2 {
    font-size: 64px;
}

.banner p {
    font-size: 28px;
    font-weight: 400;
}

.card {
    background-color: #8b1d2e;
    max-width: 18rem;
    height: auto;
    flex: 0 0 auto
}

.card p {
    font-weight: 500;
    color: #757575;
}

.card img {
    height: 250px;
    width: auto;
}

.card-img-top {
    aspect-ratio: 5 / 4;
}

.card-slider {
    position: relative;
    padding: 0 50px;
    margin: 0 auto;
    width: 100%
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 4rem;
    font-weight: 500;
    color: #8b1d2e;
    background-color: transparent;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

#test {
    border: 1px solid red;
}

.search {
    position: absolute;
    top: 35px;
    right: 35px;
}

/*Probeer het te veranderen hier in de css-bestand volgende keer, niet in de element zelf :D*/
.nav-link{
    color: red;
}
.nav-link:hover{
    color: red;
}